body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(#F9BFBF, #737373);
}

#header, #footer {
    background-color: #a53860;
    color: #ffeedb;
    padding: 1em;    
}

#header {
    border-bottom: 2px solid black;
}

#footer {
    border-top: 2px solid black;
}

#main-body {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.controls select, .controls button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

#another-movie {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#wrongEmotion {
    margin-top: 2em;
    align-items: center;
    gap: 10px;
    padding-top: 4em;
}

#movie-display {
    margin-top: 20px;
}

.buttons {
    padding: 2.5em;
}

#reset {
    padding: 4px 6px;
    border-radius: 3px;
    cursor: pointer;
}

.movie-card {
    position: relative;
    align-items: center;
    width: 600px;
    height: 250px;
    border-radius: 15px;
    /* overflow: hidden; */
    margin: 20px auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    color: white;
}

.movie-card .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px) brightness(0.6);
    z-index: -1;
}

.movie-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.poster-container {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-left: -15px; 
    overflow: hidden;
}

.poster {
    max-height: 90%;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.movie-info {
    flex: 1;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-info h2 {
    margin-bottom: 10px;
}

.movie-info p {
    margin: 5px 0;
}

.movie-sources a {
    color: white;
    font-weight: bold;
}